<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body>
          <!-- nav bar start -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/enquiry">Add Enquiry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/enquiries">View Enquiry</a>
        </li>
        <form class="d-flex"  th:action="@{/logout}">
       <button class="btn btn-outline-danger me-2" type="submit" value="logout">Logout</button>
      </form>
    </div>
  </div>
</nav>
  
  
         <!--nav bar end  -->
       <div class="container mt-5">
           <div class="row justify-content-center">
             <div class="col-md-6">
                 <div class="card text-bg-light mb-3">
                    <div class="card-header">
                       <h3 class="text-center">Add Enquiry Here</h3>
          
           <font style="color: green;">
            <p th:text="${smsg}"></p>
          
           </font>
           
           <font style="color:red;">
            <p th:text="${emsg}"></p>
           </font>
          
                    </div>
                    <div class="card-body">
                    <form th:object="${enqs}" th:action="@{/enquiry}" method="post">
                <table>
                     <tr>
                        <td>Name:</td>
                        <td><input type="text" placehoder="Enter name here" th:field="*{name}">
                            <input type="hidden" th:field="*{enquiryId}">
                        </td>
                     </tr>
                     <tr>
                        <td>Phone No:</td>
                        <td><input type="number" placehoder="Enter phNo here" th:field="*{phno}"></td>
                     </tr>
                     <tr>
                        <td>Class Mode:</td>
                        <td><select th:field="*{classMode}">
                             <option value="">-select-</option>
                             <option value="Offline">Offline</option>
                             <option value="Online">Online</option>
                         
                        </select></td>
                     </tr>
                     <tr>
                        <td>Course:</td>
                        <td><select th:field="*{courseName}">
                             <option value="">-select-</option>
                             <option value="Java">Java</option>
                             <option value="Python">Python</option>
                             <option value="Devops">Devops</option>  
                        </select></td>
                     </tr>
                      <tr>
                        <td> Enq Status:</td>
                        <td><select th:field="*{enqstatus}">
                             <option value="">-select-</option>
                             <option value="Open">Open</option>
                             <option value="Enrolled">Enrolled</option>
                             <option value="Lost">Lost</option>  
                        </select></td>
                     </tr>
              
                     
                     <tr>
                       
                        <td><input type="submit" value="Submit" class="btn btn-primary"></td>
                     </tr>
                    
             
             
                
                </table>
           
           </form>
       
                    </div>
                 </div>
             </div>
           
           </div>
       </div>
  
      
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>